mixin textField(type, title, text, name, placeholder)
	.text-field
		.text-field__title
			h3.text-field__text-main.title-style=title
			p.text-field__text=text
		input(type=type, class = "text-field__input", name=name, placeholder=placeholder)